/*************************************************************************************/
/*** CSS for Smallest-Size width display *********************************************/
/*************************************************************************************/

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.50em;
}

/* color is light pink */
#section1 {
  background-color: #ffccff;
  font-size: 1.0em;
  padding: 1.25em;
}

/* color is yellow */
#section2 {
  background-color: #ffff00;
  font-size: 1.0em;
  padding: 1.25em;
}

/* color is light blue */
#section3 {
  background-color: #99ccff;
  font-size: 1.0em;
  padding: 1.25em;
}

/* color is light green */
#section4 {
  background-color: #99ffcc;
  font-size: 1.0em;
  padding: 1.25em;
}

.main {
  margin: 0px;
}

/* The navigation bar */
/* background color is 20% black */
.navbar {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* color of text is 95% grey */
.navbar > div {
  color: #f2f2f2;
  display: block;
  float: left;
  font-size: 0.75em;
  padding: 1.25em;
  text-align: center;
  text-decoration: none;
}

/* when hovering background colr is 87% grey */
/* and color of text is 100% black */
.navbar > div:hover {
  background: #dddddd;
  color: #000000;
}

/*************************************************************************************/
/*** CSS for Mid-size width display **************************************************/
/*************************************************************************************/
@media screen and (min-width: 560px) {

  h1 {
    font-size: 1.25em;
  }

/* color is light pink */
  #section1 {
    background-color: #ffccff;
    font-size: 1.25em;
  }

/* color is yellow */
  #section2 {
    background-color: #ffff00;
    font-size: 1.25em;
  }

/* color is light blue */
  #section3 {
    background-color: #99ccff;
    font-size: 1.25em;
  }

/* color is light green */
  #section4 {
    background-color: #99ffcc;
    font-size: 1.25em;
  }
}

/*************************************************************************************/
/*** CSS for Widest width display ****************************************************/
/*************************************************************************************/
@media screen and (min-width: 765px) {

  h1 {
    font-size: 1.75em;
  }

/* color is light pink */
  #section1 {
    background-color: #ffccff;
    font-size: 1.75em;
  }

/* color is yellow */
  #section2 {
    background-color: #ffff00;
    font-size: 1.75em;
  }

/* color is light blue */
  #section3 {
    background-color: #99ccff;
    font-size: 1.75em;
  }

/* color is light green */
  #section4 {
    background-color: #99ffcc;
    font-size: 1.75em;
  }
}