/*************************************************************************************/
/*** CSS for Smallest-Size width display *********************************************/
/*************************************************************************************/

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.50em;
}

/* color is light pink */
#section1 {
  background-color: #ffccff;
  font-size: 1.0em;
  padding: 1.25em;
}

/* color is yellow */
#section2 {
  background-color: #ffff00;
  font-size: 1.0em;
  padding: 1.25em;
}

/* color is light blue */
#section3 {
  background-color: #99ccff;
  font-size: 1.0em;
  padding: 1.25em;
}

/* color is light green */
#section4 {
  background-color: #99ffcc;
  font-size: 1.0em;
  padding: 1.25em;
}

.main {
  margin: 0px;
}

/* The navigation bar */
/* background color is 80% black 20% white */
.navbar {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar > div {
  display: block;
  float: left;
  font-size: 0.75em;
  padding: 1.25em;
  text-align: center;
  text-decoration: none;
}

.menuOption1 {
  background: #ffccff;
 /* color is light pink */
  color: #000000;
 /* color of text is black */;
}

.menuOption1:hover {
  background: #ffccff;
 /* color is light pink */
  color: #ff0000;
  /* color of text is red */;
}

.menuOption2 {
  background: #ffff00;
 /* color is yellow */
  color: #000000;
 /* color of text is black */;
}

.menuOption2:hover {
  background: #ffff00;
 /* color is yellow */
  color: #ff0000;
  /* color of text is red */;
}

.menuOption3 {
  background: #99ccff;
 /* color is blue */
  color: #000000;
 /* color of text is black */;
}

.menuOption3:hover {
  background: #99ccff;
 /* color is blue */
  color: #ff0000;
  /* color of text is red */;
}

.menuOption4 {
  background: #99ffcc;
 /* color is green */
  color: #000000;
 /* color of text is black */;
}

.menuOption4:hover {
  background: #99ffcc;
 /* color is green */
  color: #ff0000;
  /* color of text is red */;
}


/*************************************************************************************/
/*** CSS for Mid-size width display **************************************************/
/*************************************************************************************/
@media screen and (min-width: 560px) {

  h1 {
    font-size: 1.25em;
  }

/* color is light pink */
  #section1 {
    background-color: #ffccff;
    font-size: 1.25em;
  }

/* color is yellow */
  #section2 {
    background-color: #ffff00;
    font-size: 1.25em;
  }

/* color is light blue */
  #section3 {
    background-color: #99ccff;
    font-size: 1.25em;
  }

/* color is light green */
  #section4 {
    background-color: #99ffcc;
    font-size: 1.25em;
  }
}

/*************************************************************************************/
/*** CSS for Widest width display ****************************************************/
/*************************************************************************************/
@media screen and (min-width: 765px) {

  h1 {
    font-size: 1.75em;
  }

/* color is light pink */
  #section1 {
    background-color: #ffccff;
    font-size: 1.75em;
  }

/* color is yellow */
  #section2 {
    background-color: #ffff00;
    font-size: 1.75em;
  }

/* color is light blue */
  #section3 {
    background-color: #99ccff;
    font-size: 1.75em;
  }

/* color is light green */
  #section4 {
    background-color: #99ffcc;
    font-size: 1.75em;
  }
}